<div class="{{hide-trolls comment.score}} commentDiv">

  <hr>
  <p>{{currentScore}} - {{comment.date}}</p>
  <h5><span>{{comment.username}}</span>: {{comment.content}}</h5>
  <a href="#" title="upvote" {{action 'upvote' comment}}><i class="material-icons">thumb_up</i></a>
  <a href="#" title="downvote" {{action 'downvote' comment}}><i class="material-icons">thumb_down</i></a>

  {{#if updateCommentForm}}
    <h4>Update comment</h4>
    <div>
      <form>
        <div class="form-group">
          {{input value=content id="content" placeholder="Comment:"}}
        </div>
        <button {{action 'update' comment}}>Save</button>
      </form>
    </div>
  {{else}}
    <a href="#" title="update" {{action 'updateCommentForm' comment}}><i class="material-icons">mode_edit</i></a>
  {{/if}}

  <a href="#" title="delete" {{action 'delete' comment}}><i class="material-icons">not_interested</i></a>
  <a href="#" title="vote best comment" {{action 'voteBest' comment}}><i class="material-icons">star_rate</i></a>
  <hr>
</div>
