<hr>
{{#if addNewComment}}
<div>
  <form>
    <div class="form-group">
      {{input value=username id="username" placeholder="Username:"}}
    </div>

    <div class="form-group">
      {{input value=content id="content" placeholder="Comment:"}}
    </div>

    <button class="btn indigo lighten-2" {{action 'save1'}}>Save</button>
  </form>
</div>
{{else}}
  <h5>Add a comment!</h5>
  <button class="btn indigo lighten-2" {{action 'commentFormShow'}}>Add</button>
{{/if}}
