<div class="row">
  <div class="col s12 m5">
    <div class="card-panel cyan accent-1">
      <span>
        {{display-best}}
      </span>
    </div>
  </div>
</div>

<h4>Subject: {{question.subject}}</h4>
<div>
  <p>On {{time-stamp question}}</p>
  <h5>{{question.username}} asked:</h5>
  <h4>{{question.content}}</h4>
  <button class="btn indigo lighten-2" {{action 'delete' question}}>Delete</button>
</div>

<div class="commentBox">
  {{#each sortedComments as |comment|}}
    {{comment-tile comment=comment update="update" upvote="upvote" downvote="downvote" destroyComment="destroyComment" add="add"}}
  {{/each}}
</div>
