<h1>{{model.subject}}</h1>

{{question-tile question=model destroyQuestion="destroyQuestion"}}
<!--
{{update-comment update="update" destroyComment="destroyComment"}} -->


<div class="commentBox">
  {{#each model.comments as |comment|}}
    {{comment-tile comment=comment update="update" upvote="upvote" downvote="downvote" destroyComment="destroyComment"}}
  {{/each}}
</div>

{{new-comment save2="save3" question=model}}
